#grid-basic
{
    border:1px solid rgba(175,182,205,0.41);
    border-collapse:collapse;
    display:inline-block;
    float:right;
    font-family:sans-serif;
    font-size:1.6em;
    max-width:100%;
    table-layout:fixed;
    width:100%;
}
h1 {
    font-weight:normal;
    width:50%;
    margin: 25px auto 25px auto;
    display: inline;
}
#grid-basic .active
{
    background-color:#D3D3D3;
}

#grid-basic > tbody > tr
{
    height:1.25em;
    max-height:1.25em;
    max-width:inherit;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:normal;
    width:inherit;
}

#grid-basic > tbody > tr > td > div.center
{
    text-align:center!important;
}

#grid-basic > tbody > tr > td > div.hidden,#tableDiv,#sideDiv
{
    visibility:hidden;
}

#grid-basic > tbody > tr > td,#grid-basic > tbody > tr > td > div
{
    max-width:inherit!important;
    width:inherit!important;
}

#grid-basic > tbody > tr > td.text-right,#grid-basic > tbody > tr > td.text-left
{
    padding-bottom:.25%;
    padding-right:1vw;
    padding-top:.25%;
}

#grid-basic > tbody > tr.success > td
{
    background-color:#FFF!important;
    color:#000;
    font-weight:400;
}

#grid-basic > thead > tr > th.collabs
{
    max-width:25%;
    width:25%;
}

#grid-basic > thead > tr > th.commands
{
    max-width:10%;
    width:10%;
}

#grid-basic > thead > tr > th.date
{
    max-width:7.5%;
    width:7.5%;
}

#grid-basic > thead > tr > th.desc
{
    max-width:20%;
    width:22.5%;
}

#grid-basic > thead > tr > th.status,#grid-basic > thead > tr > th.budget,#grid-basic > thead > tr > th.group,#grid-basic > thead > tr > th.user
{
    max-width:5%;
    width:5%;
}

#grid-basic > thead > tr > th.successM
{
    max-width:15%;
    width:15%;
}

#grid-basic > thead > tr > th.text-left,#grid-basic > thead > tr > th.text-right
{
    background-color:#f3f5f5;
    border:none;
    color:#A9A9A9!important;
    font-size:.85em;
    font-weight:lighter;
    height:3vw;
    line-height:50px;
}

#grid-basic > thead > tr > th.text-right > a,#grid-basic > thead > tr > th.text-left > a
{
    color:grey!important;
    font-weight:400!important;
}

#grid-basic > thead > tr > th.text-right,#grid-basic > thead > tr > th.text-left
{
    padding-right:1vw;
}

#grid-basic td
{
    background-color:rgba(219,227,252,0.41);
    border:none;
    color:#000;
    font-size:.6em;
    font-weight:700;
}
.editBP {



    width: 32px;
    height: 32px;
    z-index: 9999;
    position: relative;
    opacity: 0.5;
    top:-9px;

}

.editBP:hover {
    opacity: 1;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}
#grid-basic td.expand
{
    width:99%;
}

#grid-basic td.shrink
{
    width:1%;
}
#headerBP
{

    margin-top:15px;
}
#mainDiv
{

    background-color:#FFF;
    margin:1vw 0vw;
    overflow:hidden;
    padding:0 2vw;
}

#mainDiv .actionBar .form-group
{
    margin:0;
}

#mainDiv > .sideDiv > div.checkBoxes
{
    margin-top:1vw;
    width:100%;
}

#mainDiv > .sideDiv > div.checkBoxes > .check
{
    display:inline-block;
    width:45%;
}

#mainDiv > .sideDiv > div.checkBoxes > div.check > input
{
    -webkit-transform:scale(1.5);
    transform:scale(1.5);
}

#mainDiv > .sideDiv > div.checkBoxes > div.checkLabels > label
{
    display:inline-block;
    font-weight:400;
    width:45%;
}

#mainDiv > .tableDiv > #grid-basic > tbody > tr > td > div.commandButtons > button.btn
{
    width:25%;
}
.create-goal-container {
    background:white;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    position: absolute;
    box-shadow: 10px 10px 5px grey;
    border: 2px solid;
    border-color: grey;
    margin-top: 25px;
    display: inline;
}
#mainDiv > .tableDiv > #grid-basic > tbody > tr > td > div.commandButtons,#mainDiv > .sideDiv > div.checkBoxes > label.checkBoxesTitle,#mainDiv > .sideDiv > div.checkBoxes > div.checkLabels
{
    width:100%;
}

#mainDiv > .tableDiv > #grid-basic > tbody > tr > td > div.descript,#grid-basic > thead > tr > th.desc > a
{
    margin-left:3%;
}

#grid-basic > thead > tr > th.commands
{
    text-align: right !important;

}

#grid-basic > thead > tr > th.commands > a
{
    margin-right: 10%;
}

#mainDiv > .tableDiv > #grid-basic-header > .row > .actionBar > .search > div.input-group
{
    margin-bottom:5px;
}

#mainDiv > div.sideDiv > div.Clear
{
    height:3vw;
    margin-top:10%;
}

#mainDiv > div.sideDiv > div.Clear > button
{
    -webkit-appearance:button;
    background-color:#f50036;
    color:#FFF;
    cursor:pointer;
    float:right;
    height:100%;
}

#mainDiv > div.sideDiv > div.budgetBox > textarea.ta
{
    resize:none;
    width:100%!important;
}

#mainDiv > div.sideDiv > div.goatSelector > button.ui-multiselect,#mainDiv > div.sideDiv > div.collabSelector > button.ui-multiselect,#mainDiv > div.sideDiv > div.leadSelector > button.ui-multiselect,#mainDiv > div.sideDiv > div.datePicker,#mainDiv > div.sideDiv > div.datePicker > input.picker,#mainDiv > div.sideDiv > div.datePicker > label.dateTitle,#mainDiv > div.sideDiv > div.budgetBox > label.budgetTitle,#mainDiv > div.sideDiv > div.groupSelector > button.ui-multiselect
{
    width:100%!important;
}

#mainDiv > div.tableDiv > #grid-basic > tbody > tr.danger > td.select-cell,#mainDiv > div.tableDiv > #grid-basic > tbody > tr.danger > td.text-left,#mainDiv > div.tableDiv > #grid-basic > tbody > tr.danger > td.text-right,#mainDiv > div.tableDiv > #grid-basic > tbody > tr.warning > td.select-cell,#mainDiv > div.tableDiv > #grid-basic > tbody > tr.warning > td.text-left,#mainDiv > div.tableDiv > #grid-basic > tbody > tr.warning > td.text-right
{
    background-color:inherit!important;
}

#mainDiv > div.tableDiv > #grid-basic > tbody > tr.danger > td.text-right > div,#mainDiv > div.tableDiv > #grid-basic > tbody > tr.danger > td.text-left > div,#mainDiv > div.tableDiv > #grid-basic > tbody > tr.warning > td.text-right > div,#mainDiv > div.tableDiv > #grid-basic > tbody > tr.warning > td.text-left > div,#mainDiv > div.sideDiv > div.datePicker > label.dateLabel,#mainDiv > div.sideDiv > div.budgetBox > label.budgetLabel
{
    font-weight:400;
}

#mainDiv > div.tableDiv > #grid-basic > tbody > tr.danger,#mainDiv > div.tableDiv > #grid-basic > tbody > tr.danger
{
    background-color:#FFF;
}

#mainDiv > div.tableDiv > #grid-basic > tbody > tr.danger:hover,#mainDiv > div.tableDiv > #grid-basic > tbody > tr.danger:hover
{
    background-color:#ebebeb!important;
}

#mainDiv > div.tableDiv > #grid-basic > tbody > tr.warning,#mainDiv > div.tableDiv > #grid-basic > tbody > tr.warning
{
    background-color:#e3f6e0;
    font-weight:400!important;
}

#mainDiv > div.tableDiv > #grid-basic > tbody > tr.warning:hover,#mainDiv > div.tableDiv > #grid-basic > tbody > tr.warning:hover
{
    background-color:#c8e6c3!important;
}

.actions
{
    float:right;
    margin-bottom:3px;
    padding-bottom:3px;
}
#buttonPDF
{
    position:relative;
    top:-7px;
    left:10px;
}
.filtering
{
    margin-top:20px;
}

.goatSelector,.collabSelector,.leadSelector,.groupSelector,.datePicker,.budgetBox,.pageLoad > img
{
    margin-top:10%;
}

.ico
{
    align-content:center;
    display:inline-block;
    font-size:200%;
    height:100%;
    padding-left:25%;
    width:100%;
}

.input-group
{
    align-content:center;
    float:right;
    margin-left:3%;
    margin-top:3px;
    width:15%;
}

.pageLoad
{
    background-color:#FFF;
    height:100%;
    left:inherit;
    position:absolute;
    text-align:center;
    top:inherit;
    width:100%;
    z-index:9999;
}

.select-cell .select-box
{
    height:20px;
    min-height:20px;
    min-width:20px;
    width:20px;
}

.sideDiv
{
    background-color:#FFF;
    display:inline-block;
    float:right;
    margin-top:2.9%;
    max-width:12%;
    min-height:100%;
    padding:1%;
    width:12%;
}

.tableDiv
{
    display:inline-block;
    float:right;
    margin-bottom:10px;
    max-width:88%;
    overflow-x:auto;
    width:88%!important;
}