
#grid-basic {
    border-collapse: collapse;
    table-layout: auto;
    font-family: Arial;
    max-width: 1400px;
}

#grid-basic, td {
    border: 1px solid grey;
    background-color: white;
    font-weight: bold;
    font-size: 100%;
}

#grid-basic td.shrink {
    width:   1%;
}

#grid-basic td.expand {
    width: 99%;
}

#grid-basic th {
    border: none;
    background-color: lightslategrey;
    font-weight: bold;
    font-size: 200%;
    height: 50px;
    line-height: 50px;
    color: white;
}
.bootgrid-table th>.column-header-anchor {
    color: white !important;
}

#mainDiv {
    background-color: white;
}