.create-goal-container {
    background:white;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    position: absolute;
    box-shadow: 10px 10px 5px grey;
    border: 2px solid;
    border-color: grey;
    margin-top: 25px;
    display: inline;
}
.create-action-container {
    background:white;
    display:block;
    overflow:auto;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    position: absolute;
    box-shadow: 10px 10px 5px grey;
    border: 2px solid;
    border-color: grey;
    margin-top: 25px;
    display: inline;
}

.create-goal-inner {
    height: auto;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 1000px;
    position: relative;
    margin: auto;
}

.create-action-dropdown {
    width: 90%;
    padding: 12px 20px 12px 12px;
    border: none;
    font-size: 16px;
    border-radius: 4px;
    background-color: #f1f1f1;
    margin-left: 10px;
}

.form-extras {
    width: 80%;
    padding: 12px 20px 12px 12px;
    border: none;
    font-size: 16px;
    border-radius: 4px;
    background-color: #f1f1f1;
    margin-left: 10px;
}

.create-action-inner {
    height: auto;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 1000px;
    position: relative;
    margin: auto;
}
h1 {
    font-weight:normal;
    width:50%;
    margin: 25px auto 25px auto;
}

h2 {
    font-weight:normal;
    width:50%;
    margin: 25px auto 25px auto;
}

.form-group-one {
    margin: 20px 0px 20px 0px;
}

.create-goal-text-field {
    width: 90%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 12px;
}

.edit-action-field {
    margin-left: 10px;

    width: 80%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 12px;
}

.create-action-text-field {
    width: 90%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 12px;
}

.edit-action-label {
    margin-top: 4px;
    display: inline-block;
    float: left;
    clear: left;
    width: 95px;
    text-align: right;
}

.edit-task-label{
    margin-top: 6px;
    display: inline-block;
    float: left;
    clear: left;
    width: 95px;
    text-align: right;
}
.btn-primary {
    background-color: rgb(245, 0, 54);
    color: white;
    padding: 10px;
    float: right;
    font-size: 16px;
    cursor: pointer;
    border: 2px solid;
    margin-right: 5%;
    border-color: rgb(220, 20, 74);
    margin-bottom: 10%;
}

.btn-primary-action {
    background-color: rgb(245, 0, 54);
    color: white;
    padding: 10px;
    float: right;
    font-size: 16px;
    cursor: pointer;
    border: 2px solid;
    margin-right: 10%;
    border-color: rgb(220, 20, 74);
    margin-bottom: 10%;
}
.btn-primary:hover {
    background-color: rgb(255, 20, 64);
    border-color: rgb(180, 30, 90);
}

.btn-primary-action:hover {
    background-color: rgb(255, 20, 64);
    border-color: rgb(180, 30, 90);
}

#divBP {
    margin-top: 25px;
}
#divBP:hover .text {

    visibility:visible;
}
#divBP .text {
    position:relative;
    top:30px;
    left:0px;
    visibility:hidden;
}

#collab-selectors-groups {
    width: 39.33%;
    display: inline;
}

#collab-selectors-users {
    width: 39.33%;
    display: inline;
}

.tooltiptext {
    margin-left: 115px;
    font-size: smaller;
    font-style: italic;
 }
