.create-goal-container {
    width: 30%;
    height: 40%;
    min-height: 300px;
    max-height: 300px;

    background: white;
    padding: 25px 10px 25px 25px;
    box-shadow: 10px 10px 5px grey;
    border: 2px solid;
    border-color: grey;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
}
.create-action-container {
    width: 50%;
    height: 40%;
    min-height: 500;
    max-height: 500;

    background: white;
    padding: 25px 10px 25px 25px;
    box-shadow: 10px 10px 5px grey;
    border: 2px solid;
    border-color: grey;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
}

h2 {
    position: relative;
    right: 6.7mm;
    bottom: 10.3mm;
    padding: 10px 25px;
    color: #FFF;
    font-size: 16px;
    text-transform: uppercase;
    background-color: #3F4344;
    text-align: center;
    margin-right: 4cm;
    z-index: 9;
    font-weight: bold;
}

.form-group-one {
    font-size: smaller;
    font-weight: bold;
    padding: 5mm 5mm 3mm 5mm;
    margin-left: 12mm;
    color: rgb(63, 67, 68);
}

.btn-primary {
    background-color: rgb(245, 0, 54);
    float:right;
    color: white;
    padding: 10px;
    margin-top: 3cm;
    font-size: 16px;
    cursor: pointer;
    border: 2px solid;
    border-color: rgb(220, 20, 74);
}
.btn-primary:hover {
    background-color: rgb(255, 20, 64);
    border-color: rgb(180, 30, 90);
}
.btn-primary-action {
    background-color: rgb(245, 0, 54);
    float:right;
    color: white;
    padding: 10px;
    margin-top: 1cm;
    font-size: 16px;
    cursor: pointer;
    border: 2px solid;
    border-color: rgb(220, 20, 74);
  
}
.btn-primary-action:hover {
    background-color: rgb(255, 20, 64);
    border-color: rgb(180, 30, 90);
}
input#name {
    width: 220px;

}
#divBP:hover .text {

    visibility:visible;
}
#divBP .text {

position:relative;
top:30px;
left:0px;
visibility:hidden;
}
