.container-dashboard {

    height: 600px;
    margin-top: -25px;
    margin-bottom: -15px;
    margin-left: auto;
    margin-right: auto;
    width: 1500px;
    position: relative;
    margin-left: auto;
    margin-right: auto;

}
.inner {


}
.tasksTable {
    float:left;
    width: 25%;
    height:543px;
    background: white;
    padding: 25px 10px 25px 25px;
    box-shadow: 10px 10px 5px grey;
    border: 2px solid;
    border-color: grey;
    margin-top: 40px;
    margin-left: 10%;
    display: inline-block;

}
.tasks-inner {


}
.tasksTable ul {
    list-style: none;
    position: relative;
    right: 10mm;
    bottom: 10mm;
    margin: -15px;
    height: 498px;

}

.tasksTable ul li{
    font-size: smaller;
    font-weight: bold;

    padding: 5mm 5mm 3mm 5mm;

    border-bottom: 1px solid #ccc;
    color: rgb(63, 67, 68);
}
.tasksTable ul li:last-child{
    border-bottom: none;
}

.tasksTable ul li:hover {
    color: #000;
    background-color: #ddd;
}

.tasksTable h2{
    position: relative;
    right: 6.7mm;
    bottom: 10.3mm;
    padding: 10px 25px;
    color: #FFF;
    font-size: 16px;
    text-transform: uppercase;
    background-color: #3F4344;
    text-align: center;
    margin-right: 5cm;

    z-index: 9;
    font-weight: bold;
}

.taskDate {
    padding-top: 2mm;
    font-style: italic;
    font-size: x-small;
}

.tasksBtn {

    height: 30px;
}
.tasksBtn a {
    float: right;
    font-size: small;
}

.teamsTable {
    float: left;
    width: 25%;
    height:543px;
    background: white;
    padding: 25px 10px 25px 25px;
    box-shadow: 10px 10px 5px grey;
    border: 2px solid;
    border-color: grey;
    display: inline-block;
    margin-left: 20px;
    margin-top: 40px;
}
.teams-inner {

}
.teamsTable ul {
    list-style: none;
    position: relative;
    right: 10mm;
    bottom: 10mm;
    margin: -15px;
    height: 498px;
}
.teamsTable h2{
    position: relative;
    right: 6.7mm;
    bottom: 10.3mm;
    padding: 10px 25px;
    color: #FFF;
    font-size: 16px;
    text-transform: uppercase;
    background-color: #3F4344;
    text-align: center;
    margin-right: 2cm;
    z-index: 9;
    font-weight: bold;
}
.teamsTable ul li{
    font-size: smaller;
    font-weight: bold;

    padding: 5mm 5mm 3mm 5mm;

    border-bottom: 1px solid #ccc;
    color: rgb(63, 67, 68);
}
.teamsTable ul li:last-child{
    border-bottom: none;
}

.teamsTable ul li:hover {
    color: #000;
    background-color: #ddd;
}



.notificationsTable {
    float: left;
    width: 25%;
    height:543px;
    background: white;
    padding: 25px 10px 25px 25px;
    box-shadow: 10px 10px 5px grey;
    border: 2px solid;
    border-color: grey;
    display: inline-block;
    margin-top: 40px;
    margin-left: 20px;

}
.notifications-inner {

}
.notificationsTable ul {
    list-style: none;
    position: relative;
    right: 10mm;
    bottom: 10mm;
    margin: -15px;
    height: 498px;



}
.notificationsTable h2{
    position: relative;
    right: 6.7mm;
    bottom: 10.3mm;
    padding: 10px 25px;
    color: #FFF;
    font-size: 16px;
    text-transform: uppercase;
    background-color: #3F4344;
    text-align: center;
    margin-right: 2cm;
    z-index: 9;
    font-weight: bold;
}
.notificationsTable ul li{
    font-size: smaller;
    font-weight: bold;

    padding: 5mm 5mm 3mm 5mm;

    border-bottom: 1px solid #ccc;
    color: rgb(63, 67, 68);
}
.notificationsTable ul li:last-child{
    border-bottom: none;
}

.notificationsTable ul li:hover {
    color: #000;
    background-color: #ddd;
}
.notificationsBtn {
    position: relative;
    height: 30px;
}
.notificationsBtn a {
    float: right;
    font-size: small;
}
.welcomeTable {
    float: left;
    width: 100%;
    height:100px;
    background: white;
    padding: 25px 10px 25px 25px;
    box-shadow: 10px 10px 5px grey;
    border: 2px solid;
    border-color: grey;
    display: inline-block;
    margin-left: 20px;
    margin-top: 40px;
}
.welcomeTable h2{
    width: 100%;
    position: relative;
    right: 6.7mm;
    bottom: 10.3mm;
    padding: 10px 10px 10px 25px;
    color: #FFF;
    font-size: 16px;
    text-transform: uppercase;
    background-color: #3F4344;
    text-align: center;
    margin-right: 2cm;
    z-index: 9;
    font-weight: bold;
}