.container-dashboard {
    background:white;
    height: 1000px;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    position: relative;
    box-shadow: 10px 10px 5px grey;
    border: 2px solid;
    border-color: grey;
    margin-top: 25px;

}
.inner {


}
.tasksTable {
    float:right;
    width: 350px;
    height: auto;
    background: white;
    padding: 25px 10px 25px 10px;
    border: 2px solid;
    border-color: grey;
    display: inline-block;
    margin-top: 25px;
    margin-right: 8%;
}

.tasksTable ul {
    list-style: none;
    position: relative;
    right: 20px;
    bottom: 10mm;
    margin: -15px;
    height: auto;
    min-height: 160px;
}

.tasksTable ul li{
    font-size: smaller;
    font-weight: bold;

    padding: 5mm 5mm 3mm 5mm;

    border-bottom: 1px solid #ccc;
    color: rgb(63, 67, 68);
}
.tasksTable ul li:last-child{
    border-bottom: none;
}

.tasksTable ul li:hover {
    color: #000;
    background-color: #ddd;
}

.tasksTable h2{
    position: relative;
    bottom: 10.3mm;
    padding: 10px 25px;
    color: #FFF;
    font-size: 16px;
    text-transform: uppercase;
    background-color: #3F4344;
    text-align: center;

    z-index: 9;
    font-weight: bold;
    right: 10px;
    width: 320px;
}

.taskDate {
    padding-top: 2mm;
    font-style: italic;
    font-size: x-small;
}

.tasksBtn {
    /*!  */
    /*!  */
}
.tasksBtn a {
    float: right;
    font-size: small;
}

.teamsTable {

    width: 25%;
    height:275px;
    background: white;
    padding: 25px 10px 25px 25px;
    box-shadow: 10px 10px 5px grey;
    border: 2px solid;
    border-color: grey;
    display: inline-block;
    margin-left: 20px;
    margin-top: 40px;
}
.teams-inner {

}
.teamsTable ul {
    list-style: none;
    position: relative;
    right: 10mm;
    bottom: 10mm;
    margin: -15px;
    height: 498px;
}
.teamsTable h2{
    position: relative;
    right: 6.7mm;
    bottom: 10.3mm;
    padding: 10px 25px;
    color: #FFF;
    font-size: 16px;
    text-transform: uppercase;
    background-color: #3F4344;
    text-align: center;
    margin-right: 2cm;
    z-index: 9;
    font-weight: bold;
}
.teamsTable ul li{
    font-size: smaller;
    font-weight: bold;

    padding: 5mm 5mm 3mm 5mm;

    border-bottom: 1px solid #ccc;
    color: rgb(63, 67, 68);
}
.teamsTable ul li:last-child{
    border-bottom: none;
}

.teamsTable ul li:hover {
    color: #000;
    background-color: #ddd;
}



.notificationsTable {
    float:left;
    width:580px;
    height:60%;
    background: white;
    padding: 25px 25px 25px 25px;
    display: inline-block;
    margin-top: 25px;
    margin-left: 50px;

    border: 2px solid;
    border-color: grey;
}
.notifications-inner {

}
.notificationsTable ul {
    list-style: none;
    /*!  */
    bottom: 10mm;
    height: 100%;
    width: 90%;

    margin-left: -10px;
    margin-top: -25px;
    margin-bottom: 25px;
}
.notificationsTable h2{
    position: relative;
    right: 25px;
    bottom: 10.3mm;
    padding: 10px 25px;
    color: #FFF;
    font-size: 16px;
    text-transform: uppercase;
    background-color: #3F4344;
    text-align: center;

    z-index: 9;
    font-weight: bold;
    width: 100%;

}
.notificationsTable ul li{
    font-size: smaller;
    font-weight: bold;
    padding: 5mm 5mm 3mm 5mm;

    border-bottom: 1px solid #ccc;
    color: rgb(63, 67, 68);

}
.notificationsTable ul li:last-child{
    
    border-bottom: none;
}

.notificationsTable ul li:hover {
    color: #000;
    background-color: #ddd;
}
.notificationsBtn {
    position: relative;
    height: 30px;
}
.notificationsBtn a {
    float: right;
    font-size: small;
}

.moreBtn {
    position: relative;

    width: 100%;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #555;
    border: none;
    /*!  */
    /*!  */


    padding: 5px;
}

.moreBtn-inner {
    margin: 0 auto;
    width: 50%;
}
.notificationDate {
    padding-bottom: 2mm;
    font-style: italic;
    font-size: x-small;
}
.notificationsUser {
    text-decoration: none;
}
.notificationsUser:hover {
    text-decoration: underline;
}
.notificationsItem {
    text-decoration: none;
}
.notificationsItem:hover {
    text-decoration: underline;
}

.welcomeTable h2 {
    position: relative;
    bottom: 10.3mm;
    padding: 10px 25px;
    color: #FFF;
    font-size: 16px;
    text-transform: uppercase;
    background-color: #3F4344;
    text-align: center;

    z-index: 9;
    font-weight: bold;
}

.dashboardContainer {
    width: 1200px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}