.groups-container {
    background:white;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    position: absolute;
    box-shadow: 10px 10px 5px grey;
    border: 2px solid;
    border-color: grey;
    margin-top: 25px;
    display: inline;
}

.groups-container-inner {
    width: 900px;
    height: auto;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    position: relative;
    margin: auto;

}

.options-container {
    float: left;
    border: 1px solid;
    display: inline-block;
    margin: 6px 2px;
    width: 210px;
}

.roster-container {
    width: 670px;
    border: 1px solid;
    display: inline-block;
    margin: 6px 2px;
}

.group-elements {
    margin-left: 8px;
}

#group-name {
    text-align: center;
}

.roster-names {
    margin-left: 8px;
}

#link-result {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

#link-result:hover {
    background: lightblue;
}

.result-list {
    margin: 0px;
    padding: 0px;
}

.result-list-elem {
    list-style: none;
    margin: 2px;
    border-bottom: 1px solid;
}

.result-list-elem:last-child {
    list-style: none;
    border-bottom: none;
}

/*action tasks content*/
.action-task-content {
    margin: 2px;
}

.action-task-content-link {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.action-task-content-link:hover {
    background: lightblue;
}

.roster-headers {
    text-align: center;
}
