

.LoginRegister {
    justify-content: center;
    width: 250px;
    height: 260px;
    background: white;
    margin: -220px auto;
}


.LoginRegister-link {
    text-align: center;
}

.top-image {
    display: block;
    margin: 0 auto;
    z-index: -1;
}

.form-control {
    margin-left: 10px;

    width: 80%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    height: 24px;
}

.form-group {
    text-align: center;
}