
#app-layout {
    background-color: rgb(204, 202, 200);
    font-family: Arial, Helvetica, sans-serif;
    position: relative;

}
#app-navbar-collapse {
    width: 100%;
    height: 128px;
    background:white;
    box-shadow: 0 5px 2px -2px gray;
}

.navbar-nav ul {
}
.navbar-text {
    display:inline;
}
.navbar-text a{
    padding-right: 10px;
    padding-left: 10px;
    border-right: 1px solid;
    border-right-color: rgb(204, 202, 200);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
.navbar-nav li{
    display:inline;
    padding-bottom: 0.5mm;
}
.navbar-nav li:hover {
    border-bottom: 3px solid;
    border-bottom-color: blue;
}

.navbar-nav li:last-child a{
    border-right: none;
}
.navbar-text li:first-child{
    border-right: none;
}
.navbar-nav a{
    color: rgb(63, 67, 68);
    text-decoration: none;
}
.navbar-nav {
    float: left;
    height: auto;
    line-height: 59px;

}
.navbar-right {
    float:right;
    margin-right:10px;
}

.navbar-right {
    position: relative;
    display: inline-block;
}
.dropbtn {
    background-color: rgb(245, 0, 54);

    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {background-color: #f1f1f1}

.navbar-right:hover .dropdown-content {
    display: block;
}
.navbar-right:hover .dropbtn {
    background-color: rgb(214, 0, 54);
}

.navbar-nav img, img:hover {
    text-decoration:none;
}

.LoginRegister {
    clear: left;
    justify-content: center;
    width: 250px;
    height: 210px;
    background: white;
    padding: 25px 10px 25px 25px;
    box-shadow: 10px 10px 5px grey;
    border: 2px solid;
    border-color: grey;
    margin-left: auto;
    margin-right: auto;
}

.panel-heading {
    position: relative;
    right: 25px;
    bottom: 25px;
    padding: 10px 25px;
    color: #FFF;
    font-size: 16px;
    text-transform: uppercase;
    background-color: #3F4344;
    text-align: center;
    margin-right: 120px;
    z-index: 9;
    font-weight: bold;
}

.btn-link {
    text-decoration: underline;
    color: grey;
    font-size: 14px;
}

.btn-link:hover {
    color: blue;
}

.form-group {
    padding: 6px;
}

.form-control {
    border-style: solid;
    border-color: grey;
    border-width: 1px;
    width: 200px;
}

.btn-primary {
    border: none;
    background-color: lightblue;
    padding: 4px;
    cursor: pointer;
}

