
#app-layout {
    background-color: rgb(204, 202, 200);
    font-family: Arial, Helvetica, sans-serif;
}


.topbar-default {
    width: 100%;
    background: white;
}

.container-topbar {
    width: 1500px;
    height: 128px;
    background:white;
    position: relative;
    margin: 0 auto;
}

.topbar-collapse {
    width: 50%;
    min-width: 2000px;
    position: relative;
    margin: 0 auto;
}

.topbar-text {
    display:inline;
}

.topbar-current {
    display: inline;
    text-shadow: 0 0 1px blue;

}

.topbar-text a{
    padding-right: 10px;
    padding-left: 10px;
    border-right: 1px solid;
    border-right-color: rgb(204, 202, 200);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    border-spacing: 10px;

}
.topbar-nav li{
    text-align: center;
    display:inline;
    padding-bottom: 0.5mm;

}


.topbar-current a {
    padding-right: 10px;
    padding-left: 10px;
    border-right: 1px solid;
    border-right-color: rgb(204, 202, 200);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding-bottom: 4px;
}


.topbar-nav li:hover {
    text-shadow: 0 0 1px blue;
}

.topbar-nav li:last-child a{
    border-right: none;
}
.topbar-nav li:first-child a {
    border-right: none;
}
.top-bar text a:first-child {
    border-right: none;
    padding-right: 100px;
}


.topbar-nav a{
    text-align: center;
    margin-right:auto;
    margin-left:auto;
    color: rgb(63, 67, 68);
    text-decoration: none;
}
.topbar-nav {
    margin: 0 auto;
    width: 50%;
    float: left;

}

.topbar-right {
    width: 15%;
    display: inline-block;
    position: relative;
    float:right;
    margin-top: -6%;
    margin-left: 500px;
}

.dropbtn {
    background-color: rgb(245, 0, 54);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;


}
.dropdown-content {
    z-index: 99;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {background-color: #f1f1f1}

.topbar-right:hover .dropdown-content {
    display: block;
}
.topbar-right:hover .dropbtn {
    background-color: rgb(214, 0, 54);
}



.topbar-nav img {
    text-decoration: none;
}

.panel-heading {
    position: relative;
    right: 25px;
    bottom: 25px;
    padding: 10px 25px;
    color: #FFF;
    font-size: 16px;
    text-transform: uppercase;
    background-color: #3F4344;
    text-align: center;
    margin-right: 120px;
    z-index: 9;
    font-weight: bold;
}

.btn-link {
    text-decoration: underline;
    color: grey;
    font-size: 14px;
}

.btn-link:hover {
    color: blue;
}

.form-group {
    padding: 6px;
}

.form-control {
    border-style: solid;
    border-color: grey;
    border-width: 1px;
    width: 200px;
}

.btn-primary {
    border: none;
    background-color: lightblue;
    padding: 4px;
    cursor: pointer;
}

.topbar-img {
    margin-right: 50px;
}