.task-container {
    background:white;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    position: absolute;
    box-shadow: 10px 10px 5px grey;
    border: 2px solid;
    border-color: grey;
    margin-top: 25px;
    display: inline;
    height: 100%;

}

.task-name h1{
    font-weight:normal;


}

.task-description-inner {
    height: auto;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 1200px;
    position: relative;
    margin: auto;


}

hr {

}

.task-comments-inner {
    height: 100%;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 1000px;
    position: relative;

    margin: auto;
}

.comment-form {
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 1000px;
    position: relative;

    margin: auto;
    margin-bottom: 5%;
}

.comment-container {
    list-style-type: none;
    padding-left: 0px;
}
.task-comments-inner li {

    padding: 5mm 5mm 3mm 5mm;
    margin-bottom: 8px;
    border: 2px solid #ccc;
    color: rgb(63, 67, 68);
}

.comment-name {

    font-weight: bold;
    padding: 3px;
    display: inline-block;
    transition: color .4s;
    color: #265C83;
    text-decoration: none;
}


.comment-name a {
    text-decoration: none;
    color: black;
}

.comment-text-area {
    width:100%;
}

.task-action a {
    display: inline-block;
    height: 50px;
    line-height: 50px;
    padding-right: 30px;
    padding-left: 70px;
    position: relative;
    background-color: darkred;
    color:rgb(255,255,255);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 15px;


    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    text-shadow:0px 1px 0px rgba(0,0,0,0.5);
    -ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#ff123852,Positive=true)";zoom:1;
    filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#ff123852,Positive=true);

    -moz-box-shadow:0px 2px 2px rgba(0,0,0,0.2);
    -webkit-box-shadow:0px 2px 2px rgba(0,0,0,0.2);
    box-shadow:0px 2px 2px rgba(0,0,0,0.2);
    -ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=2,Color=#33000000,Positive=true)";
    filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=2,Color=#33000000,Positive=true);
}

.task-action span {
    position: absolute;
    left: 0;
    width: 50px;
    background-color:rgba(0,0,0,0.5);
    text-align: center;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right: 1px solid  rgba(0,0,0,0.15);
}

.task-action a:hover span, .task-action a.active span {
    background-color:rgb(0,102,26);
    border-right: 1px solid  rgba(0,0,0,0.3);
}

.task-action {
    
}



.task-list {
    list-style-type: none;


}

.task-list li {

    margin-top: 3px;
}

.task-list li:first-child label {
    margin-top: 15px;
}
p {
    margin-top: 4px;
    margin-bottom: 4px;
}

label {
    margin-right: 10px;
    display: inline-block;
    float: left;
    clear: left;
    width: 150px;
    text-align: right;
}



.comment-label {
    font-style: italic;
    color: grey;
}
.edit {
    margin-right: 22%;
    margin-top: 1%;
    display: inline;
    float: right;
    width: 32px;
    height: 32px;
    z-index: 9999;
    position: relative;
    opacity: 0.5;

}

.edit:hover {
    opacity: 1;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}

.edit-image {
    width: 100%;
    height:100%;
    z-index: 9999;
}

.task-lead a {
    transition: color .4s;
    color: #265C83;
    text-decoration: none;
}

.task-group-lead a {
    transition: color .4s;
    color: #265C83;
    text-decoration: none;
}

.task-collab a {
    transition: color .4s;
    color: #265C83;
    text-decoration: none;
}
.comment-name a {
    transition: color .4s;
    color: #265C83;
    text-decoration: none;
}
.task-lead a:link,
.task-lead a:visited { color: #265C83; }
.task-lead a:hover   { color: darkblue; }
.task-lead a:active {
    transition: color .3s;
    color: #007BE6;
}

.task-group-lead a:link,
.task-group-lead a:visited { color: #265C83; }
.task-group-lead a:hover   { color: darkblue; }
.task-group-lead a:active {
    transition: color .3s;
    color: #007BE6;
}

.task-collab a:link,
.task-collab a:visited { color: #265C83; }
.task-collab a:hover   { color: darkblue; }
.task-collab a:active {
    transition: color .3s;
    color: #007BE6;
}
.comment-name a:link,
.comment-name a:visited { color: #265C83; }
.comment-name a:hover   { color: darkblue;}
.comment-name a:active {
    transition: color .3s;
    color: #007BE6;
}

.comment-form-control {
    background-color: rgb(245, 0, 54);
    color: white;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border: 2px solid;
    border-color: rgb(220, 20, 74);
    width: 120px;
}

.comment-form-control:hover {
    background-color: rgb(255, 20, 64);
    border-color: rgb(180, 30, 90);
}