table.treetable {
    border-collapse: collapse;
}

#treeTableView th {
    font-weight: bold;
    font-size: 175%;
    border: none;
    background-color: lightslategrey;
}

#treeTableView {
    background-color: white;
}

#treeTableView td {
    border: 1px solid #c0c0c0;
    height: 40px;
    font-weight: bold;
}

#treeTableView td:nth-child(1){
    text-align: right;
}

#tree-goal{
    background-color: black;
    color: white;
    font-size: 150%;
}

#tree-objective {
    background-color: #286090;
    color: white;
    font-size: 125%;
}


